[Unit]
Description=index.js - handling OpenVisualizer log events
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=vagrant
ExecStart=/usr/bin/node /home/vagrant/openbenchmark/experiment-control/nodejs_websocket/index.js
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
