[Unit]
Description=index.js - handling OpenVisualizer log events
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=@USER@
ExecStart=/usr/bin/node @INDEX_JS_PATH@
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
