.pulse {
    color: #1f6fb2;
    animation: pulse 1s infinite;
}
.pulse:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        color: #1f6fb2;
    }
    50% {
        color: #B2CCE5;
    }
    100% {
        color: #1f6fb2;
    }
}

.pulse-bgd {
    background-color: #1f6fb2;
    animation: pulse 1s infinite;
}

@keyframes pulse-bgd {
    0% {
        background-color: #1f6fb2;
    }
    70% {
        background-color: #B2CCE5;
    }
    100% {
        background-color: #1f6fb2;
    }
}

