.main-btn {
    border: none;
    height: 35px;
    min-width: 350px;
    background-color: #1f6fb2;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-small{
    height: 35px;
    min-width: 150px;
}
.main-btn:hover {
    background-color: #6699CC;
}
.main-btn:disabled {
    background-color: lightgray;
}

.btn-width-full {
    width: 100%;
}
.btn-width-half {
    width: 50%;
}
.btn-danger {
    background-color: red;
}
.btn-danger:hover {
    background-color: red;
}