.row {
    display: flex;
}

.row-direction {
    display: flex;
    flex-direction: row;
}
.col-direction {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.h-center {
    align-items: center;
}
.v-center {
    justify-content: center;
}

.align-left {
    align-self: flex-start;
}
.align-right {
    align-self: flex-end;
}

.col .col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col-4 {
    flex: 4;
}
.col-5 {
    flex: 5;
}
.col-6 {
    flex: 6;
}
.col-7 {
    flex: 7;
}
.col-8 {
    flex: 8;
}
.col-9 {
    flex: 9;
}
.col-10 {
    flex: 10;
}
.col-11 {
    flex: 11;
}
.col-12 {
    flex: 12;
}
